#categoryTree {
	position: fixed;
	top: 40px; right: -1px;
	border: 1px solid #a0a0a0;
	width: 730px; background: #efefef;
	padding-left: 10px; padding-bottom: 4px; padding-top: 4px;
}
#searchBox {
	position: fixed;
	top: 41px; left: -1px;
	border: 1px solid #a0a0a0;
	width: 400px; background: #efefef;
	font-size: 23px; padding-left: 10px;
	padding-top: 4px; padding-bottom: 4px;
	border-top: 0px;
	border-bottom: 0px;
}
#responseContent {
	position: fixed;
	background: #efefef; border: 1px solid #a0a0a0;
	width: 387px; padding-left: 10px;
	left: 0px; top: 77px;
	border-top: 0px;
}
#pageClick {
	border-bottom: 1px solid #a0a0a0;
	padding: 10px 0px; font-size: 13px;
}
#responseContent #pageClick:last-child {
	border-bottom: none;
}
#closeSearchLabel {
	position: absolute;
	top: -35px; right: 15px;
	cursor: pointer; font-size: 20px;
}