body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
.hide {display: none;}
.gnode {
	cursor: pointer;
}
.node {
  position: relative;
}
.node:hover {
  stroke: black;
  stroke-width: 1.3px;
}
.link {
  stroke-width: 0.5px;
  fill: none;
}
#choiceMenu {
	position: absolute;
	top: -1px; left: 25px;
	border: 1px solid #a0a0a0;
	background: #e0e0e0;
	line-height: 40px; font-size: 16px;
	border-right: 0px;
}
.waitRectangle {
	fill: #f0f0f0;
	stroke: black;
	stroke-width: 1;
}
.aboveRect {
	fill: #c0c0c0;
	stroke: black;
	stroke-width: 1;
}
#comm_detect {
	position: absolute;
	top: 0px; left: 200px;
	height: 40px; cursor: pointer;
	border: 1px solid #a0a0a0;
}
.keyword {
	text-anchor: middle;
	stroke: black;
	stroke-width: 0.3px;
	font-weight: 400;
}
#graphExpli {
	position: absolute;
	z-index: 2;
}