@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);
body {
	font-family: 'Open Sans', sans-serif;
	background: white;
	padding: 0px;
	margin: 0px;
}
#svg1 {
	/*background: black;*/
}
.arc {
	cursor: pointer;
}
.arc path {
	fill-opacity: 0.8;
	stroke: #a0a0a0;
	stroke-width: 1;
}
.arc text {
	fill: rgba(255,255,255,1);
	stroke-width: 3;
	stroke: rgba(255,255,255,0.5);
	font-weight: 700;
	font-size: 17px;
}